a {
  color: #20a6ff;
  text-decoration: none;
}

a:hover {
  color: orange;
  text-decoration: underline;
}

.index-article-field {
  background-color: white;
  width: 250px;
  display: block;
}

.index-article-title {
  font-size: 22px;
  margin-bottom: 10px;
}

.index-article-content {
  font-size: 16px;
  white-space: pre-line;
}