a {
  color: #20a6ff;
  text-decoration: none;
}

a:hover {
  color: orange;
  text-decoration: underline;
}

.index-article-field {
  background-color: white;
  width: 500px;
  display: flex;
  margin-bottom: 20px;
  color: black;
}

.index-article-user-image {
}

.index-article-right {
}

.index-article-title {
  font-size: 22px;
  margin-bottom: 10px;
}

.index-article-info {
  display: flex;
}

.index-grade {
  margin: 0 10px;

}

.index-subject {
  margin: 0 10px;
}

.index-genre {
  margin: 0 10px;
}

.index-article-description {
  font-size: 16px;
  white-space: pre-line;
  color: black;
}

.index-article-description:hover {
  text-decoration: none;
}

a.index-article-info-btn {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  -webkit-box-shadow: 2px 2px 0 #000;
  box-shadow: 2px 2px 0 #000;
  padding: 3px 5px;
  text-decoration: none;
  font-size: 16px;
  color: black;
}
a.index-article-info-btn:hover {
  -webkit-box-shadow: -3px -3px 0 #000;
  box-shadow: -3px -3px 0 #000;
  color: orange;
  text-decoration: underline;
}

.index-article-user-info {
  display: flex;
}

.index-article-by {
  text-align: right;
}