a {
  color: #20a6ff;
  text-decoration: none;
}

a:hover {
  color: orange;
  text-decoration: underline;
}

.index-article {
  flex-direction: column;
  flex-wrap: wrap;
}

.index-article-field {
  background-color: white;
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 0 0 20px 20px;
  padding: 5px;
  color: black;
  border: solid 3px gray;
  border-radius: 20px;
}

.index-artile-user-image {
  margin: 0 auto;
  width: 200px;
}

.index-article-left {
  width: 150px;
}

.index-article-right {
  width: 100%;
}

.index-article-title {
  font-size: 22px;
}

.index-article-info {
  display: flex;
}

.index-grade {
  margin: 0 10px;

}

.index-subject {
  margin: 0 10px;
}

.index-genre {
  margin: 0 10px;
}

.index-article-description {
  font-size: 16px;
  white-space: pre-line;
  color: black;
}

.index-article-description:hover {
  text-decoration: none;
}

a.index-article-info-btn {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  -webkit-box-shadow: 2px 2px 0 #000;
  box-shadow: 2px 2px 0 #000;
  padding: 3px 5px;
  text-decoration: none;
  font-size: 16px;
  color: black;
}
a.index-article-info-btn:hover {
  -webkit-box-shadow: -3px -3px 0 #000;
  box-shadow: -3px -3px 0 #000;
  color: orange;
  text-decoration: underline;
}

.index-article-user-info {
}

.index-article-user-name {
}

.index-article-user-account {
  font-size: 14px;
  color: gray;
}

.index-article-by {
  text-align: right;
}

.index-article-comments {
  font-size: 16px;
}

.index-article-comments-bold {
  font-size: 16px;
  font-weight: bold;
}

.index-article-created-at,.index-article-updated-at {
  font-size: 16px;
}