// ヘッダー部分
.top-header {
  width: 100vw;
  height: 75px;
  display: flex;
  justify-content: space-between;
}

.top-parts-logo {
  margin-left: 10px;
}

.parts-logo {
  width: 194px;
  height: 75px;
}

.header-user-icon {
  width:  65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
}

.header-user-icon:hover {
  border: 2px solid orange;
  opacity: 0.5;
  cursor: pointer;
}

.header-user {
  display: flex;
  align-items: center;
  width: 20vw;
  min-width: 180px;
}

.site-title {
  font-size: 48px;
}

// フッター部分
.top-footer {
  background-color: pink;
  width: 100vw;
  height: 20vh;
}

// ページ全体の配置
.main{
  background-color: lightyellow;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 70vw;
}

.main-contents {
  // background-color: lightgreen;
  margin: 20px 0;
  padding: 10px 0;
  width: 80%;
  min-width: 500px;
  font-size: 20px;
}

.main-side {
  background-color: lightgray;
  margin: 20px 0;
  padding: 10px 0;
  width: 250px;
  min-width: 200px;
}



// スマホ表示
@media (max-width: 750px) {
  .main{
    background-color: lightyellow;
    margin: 0 auto;
    width: 95vw;
    display: block;
  }
  
  .main-contents {
    background-color: green;
    margin: 20px 0;
    padding: 10px 0;
    width: 100%;
    font-size: 18px;
  }
  
  .main-side {
    background-color: gray;
    margin: 20px 0;
    padding: 10px 0;
    width: 100%;
  }

  .header-user-icon {
    width:  45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
  }
  
  .header-user-icon:hover {
    border: 2px solid orange;
    opacity: 0.5;
    cursor: pointer;
  }
  
  .header-user {
    display: flex;
    align-items: center;
    width: 20vw;
    min-width: 180px;
    font-size:12px;
  }
}