.show-article {
  padding: 0.5em 1em;
  margin: 0 10px 0 0;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.show-title {
  font-size: 40px;
}

.show-info {
  display: flex;
  margin-top: 20px;
}

.show-grade {
  margin: 0 20px;

}

.show-subject {
  margin: 0 20px;
}

.show-genre {
  margin: 0 20px;
}

.show-content {
  margin: 20px 0;
}

a.show-btn {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  -webkit-box-shadow: 3px 3px 0 #000;
  box-shadow: 3px 3px 0 #000;
  padding: 5px 10px;
  text-decoration: none;
  color: black;
}
a.show-btn:hover {
  -webkit-box-shadow: -3px -3px 0 #000;
  box-shadow: -3px -3px 0 #000;
  color: orange;
  text-decoration: underline;
}

.show-article-content-box {
    padding: 10px;
}

.show-article>h1{
  font-size: 32px;
}

.show-article>h2{
  font-size: 24px;
}

.show-article>h3{
  font-size: 18px;
}

.show-article>h4{
  font-size: 16px;
}

.show-article>h5{
  font-size: 12px;
}

.show-article>h6{
  font-size: 10px;
}

.show-article>code {
  background-color: gray;
  color: white;
}

.show-article>strong {
  font-weight: bold;
}


.show-article-comments-box {
  position: relative;
  margin: 100px 0 50px 0;
  padding: 0;
  border: solid 3px #62c1ce;
}
.show-article-comments-box
.show-article-comments-box-title {
  position: absolute;
  display: inline-block;
  top: -27px;
  left: -3px;
  padding: 0 20px;
  height: 25px;
  line-height: 25px;
  font-size: 20px;
  background: #62c1ce;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}

.show-comment-info {
  display: flex;
}

.show-comment-info-right-time {
  position: absolute;
  right: 20px;
}

.show-article-comment {
  padding: 10px;
  border: solid 10px #62c1ce;
}

.show-comment-form {
  width: 100%;
}

.show-comment-user-icon {
  width:  50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
}

.show-comment-user-icon:hover {
  width:  50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid orange;
  opacity: 0.5;
}

.show-comment-content {
  white-space: pre-line;
  margin: -20px 0 0 20px;
}