.tweet-hitokoto {
  width: 70%;
  padding: 0 5px;
  margin-bottom: 20px;
  background-color: yellow;
}

.tweet-profile {
  width: 70%;
  padding: 0 5px;
  height: 200px;
  margin-bottom: 20px;
}

.tweet-submit {
  width: 200px;
}