<div>
  <h1>ひとこと<h1>
  <%= form_with(model: @tweet, url: user_tweet_path(@tweet), method: :patch, local: true) do |f| %>
    <div>
      <%= f.text_field :hitokoto, placeholder: "ひとことを入力(30字以内）", autocomplete: 'off', maxlength: 30, class: "tweet-hitokoto" %>
    </div>

    <div>
      <p>プロフィール文</p>
      <%= f.text_area :profile, placeholder: "プロフィールを入力(1000字以内)", autocomplete: 'off', maxlength: 1000, class: "tweet-profile" %>
    </div>

    <div>
      <%= f.submit "編集する", class: "tweet-submit" %>
    </div>
  <% end %>
</div>